.empty-state{
    width:100%;
    min-height:350px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    color:#ddd;
}

.empty-icon{
    font-size:70px;
    margin-bottom:20px;
}

.empty-state h2{
    margin-bottom:10px;
}

.empty-state p{
    color:#999;
}